@page
@model TheUKTories.FrontendApp.Pages.Admin.AltRight.EditModel

@{
    ViewData["Title"] = "Edit";
}

@await Html.PartialAsync("Partials/_PageTitlePartial", "Edit Tactic")

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="FacistTactic.Id" />

    <govuk-input asp-for="FacistTactic.Title" type="text"/>
    <span asp-validation-for="FacistTactic.Title" class="text-danger"/>

    <govuk-textarea rows="5" asp-for="FacistTactic.Subtitle" />
    <span asp-validation-for="FacistTactic.Subtitle" class="text-danger"/>

    <govuk-input asp-for="FacistTactic.Link" type="text"/>
    <span asp-validation-for="FacistTactic.Link" class="text-danger"/>

    <govuk-button type="submit" value="Save">Save</govuk-button>
</form>

<div>
    <a class="govuk-button" asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}