@page
@model IndexModel
@{
    ViewData["Title"] = "TheUKTories";
}

<h1 class="govuk-heading-xl">The Messiest Eton Mess You've Ever Seen</h1>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<span class="govuk-caption-l">What exactly is austerity?</span>
<h2 class="govuk-heading-l">The Age of Austerity</h2>
<p class="govuk-body">
    Austerity is an economic strategy on how to spend the countries money. It can include making cuts to public services, like welfare, police forces, public housing and libraries. It could also include methods like increasing taxes, such as the National Insurance contributions, council tax and road tax. Austerity should not be used during a recession, but during the growth period after the fact. Otherwise, austerity can lead to low economic growth, decreased consumer confidence (such as the "double-dip" recession during the coalition), and increased levels of unemployment.
</p>

<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
    @foreach (Austeritys item in Model.Austeritys)
    {
    <li>
        @item.String

        @if (item.Sources.Count() == 1)
        {
            <small>
                -
                <a href="@item.Sources[0].Link" target="_blank">@item.Sources[0].Source</a>
            </small>
        }
        @if (item.Sources.Count() > 1)
        {
            @await Html.PartialAsync("_ListSourcesPartial", item.Sources)
        }
    </li>
    }

</ul>