<ul id="flist" class="flist"></ul>
<script>
    $.getJSON("/data/interferencereport.json", function(json) {
    var json = JSON.parse(JSON.stringify(json));
    var list = document.getElementById('flist');

    for (var i = 0; i < json.files.length; i++) {
        var obj = json.files[i];
        var li = document.createElement('li');
        li.className = "flist-li";
        var link = document.createElement('a');
        link.setAttribute('href', obj.link);
        link.innerText = obj.title;
        li.append(link);
        list.append(li);
    }
    });
</script>
<br/>

<h2>Russia Interference Report</h2>
<i>External expert witnesses used</i>
<ul>
  <li>Anna Applebaum - Institute of Global Affairs.</li>
  <li>Mr William Brower - Head of Global Magnitsky Justice Movement.</li>
  <li>Mr Christopher Donnelly CMG TD - Head of Institute of Statecraft.</li>
  <li>Mr Edward Lucas - Writer/Consultant specialising in European and Transatlantic security.</li>
  <li>Mr Christopher Steele - Director, Orbis Business Intelligence Ltd. Former MI6, head of the Russia desk.</li>
</ul>
<p>
  The Russian interference report, titled 'Russia' was released on 21<sup>st</sup> July 2020 by the British Intelligence and Security Committee of Parliament (ISC). The inquiry started in 2017 and was completed in March 2019. Redaction's were made, and was sent to the <a href="boris">PM</a> on 17 October 2019. The government refused to release the report before the general election in December 2019. The report was approved for the release the day following the election. The report ultimately found that Russian interference is very much common place, but can not produce evidence as there has been no investigation commissioned.
</p>
<p>
  In fact, the report found that British governments have <strong>"welcomed the [Russian] oligarchs and their money with open arms, providing them with a means of recycling illicit finance through the London 'laundromat', and connections at the highest levels with access to U.K. companies and political figures."</strong>
</p>

<blockquote class="blockquote">
  <p class="mb-0">"The UK government have actively avoided looking for evidence that Russia interfered"</p>
  <footer class="blockquote-footer">SNP MP and ISC member Steward Hosie.</footer>
</blockquote>

<blockquote class="blockquote">
  <p class="mb-0">“nobody in government asked” about Russian interference in the Scottish Referendum</p>
  <footer class="blockquote-footer">Labour MP and ISC member Kevan Jones</footer>
</blockquote>

<p>
  Dominic Raab made a surprise announcement shortly before the report dropped, that Russia attempted to interfere in the 2019 election by leaking government documents online. The National Cyber Security Center (NCSC) alleges that Russian hacker group APT29 is targeting COVID-19 vaccine organisations with disinformation campaigns.
</p>

<hr/>
<div id="accordion">
  <div class="card">
    <button class="btn btn-link collapsed float-right" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          Toggle ISC Report Findings
        </h5>
      </div>
    </button> 
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        <ul id="findings-list" class="separated-list">
        </ul>
      </div>
    </div>
  </div>

<script>
$.getJSON("data/interferencereport.json", function(json) {
  var json = JSON.parse(JSON.stringify(json));
  var list = document.getElementById('findings-list');

  for (var i = 0; i < json.findings.length; i++) {
    var obj = json.findings[i];
    var li = document.createElement('li');
    li.innerText = obj;
    list.append(li);
  }
});
</script>
<hr/>

<b>What does Russia want?</b>
<p>Russia, understandably, not only wants to remain central on the world stage, but to become a dominant nation that can oppose the west. Russia has less people, a swollen military, no proper government oversight, a blend of business and politics, untamed agencies, and a weak economy. They have nothing to lose, and everything to gain.</p>

<p><small>‘Russia is simultaneously both very strong and very weak. The strengths which Russia retains are largely its inheritances from the USSR and its status as a victor of the Second World War: nuclear weapons, a space presence and a permanent seat on the UN Security Council. By contrast, it has a small population compared with the West; a lack of both reliable partners and cultural influence outside the countries of the former USSR; a lack of strong public and democratic institutions, including the rule of law; and, of course, a weak economy.’</small></p>
<p><small>'Its lack of democracy and rule of law allows its intelligence agencies to act quickly, without constraint or consideration; and its lack of strong independent public bodies and the fusion of government and business allow it to leverage all its intelligence, military and economic power at the same time to pose an all-encompassing security threat.'</small></p>