<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a name="top"></a>
    <% include ../partials/nav %>

    <div class="container">
        <h1>UK Government Open Data</h1>
        <hr/>
        <p>
          One of the things the government has done successfully since 2010 is the creation and adaptation of the Open Government License. The UK Government is considered one of the leaders in open source and open data. They offer a few platforms for browsing and querying their datasets.
          Any publication by Her Majesty's Government is automatically copyrighted under Crown Copyright. Most government websites, like the DVLA, are under the OGL and have logo in the website footer. They also offer their datasets in JSON, CSV and XML formats.
        </p>
        <ul>
          <li><a href="http://data.gov.uk/" target="_blank">data.gov.uk</a></li>
          <li><a href="http://data.parliament.uk/" target="_blank">data.parliament.uk</a></li>
        </ul>
        <b>House of Commons</b>
        <ul>
            <li>
              <a href="http://www.data.parliament.uk/dataset/members-of-the-house-of-commons" target="_blank">Members</a> <i class="fas fa-external-link-alt"></i>
            </li>
            <li><!--<a href="gov/divisions>--> <a href="http://lda.data.parliament.uk/commonsdivisions" target="_blank">Recent Commons Divisions</a> <i class="fas fa-external-link-alt"></i></li>
            <li><a href="https://data.gov.uk/dataset/22c9d6a0-2139-46c4-bf3d-5fe9722de873/spend-over-25-000-in-the-crown-prosecution-service" target="_blank">Spends over £25k in the CPS (April 10 - Aug 19)</a> <i class="fas fa-external-link-alt"></i></li>
            <li><a href="https://data.gov.uk/dataset/ba7e9e48-1f7e-4364-a076-28d3baf4493a/spend-over-25-000-in-the-food-standards-agency" target="_blank">Spends over £25k in the Food Standard Agency (2010 - 2019)</a> <i class="fas fa-external-link-alt"></i></li>
            <li><a href="https://data.gov.uk/dataset/3ba3972f-4f51-477e-bf0d-6caf8bd571e9/food-standards-agency-board-and-directors-registered-gifts-and-hospitality" target="_blank">Food Standards Agency Board and Directors registered gifts and hospitality</a> <i class="fas fa-external-link-alt"></i></li>
        </ul>
        <b>House of Lords</b>
        <ul>
          <li>
            <a href="http://data.parliament.uk/dataset/10" target="_blank">Members</a> <i class="fas fa-external-link-alt"></i>
          </li>
          <li>
            <a href="http://data.parliament.uk/dataset/lordsmembersit" target="_blank">IT equipment provided to Lords</a> <i class="fas fa-external-link-alt"></i>
          </li>
          <li>
            <a href="http://data.parliament.uk/dataset/05" target="_blank">Divisions</a> <i class="fas fa-external-link-alt"></i>
          </li>
          <li>
            <a href="http://data.parliament.uk/dataset/33" target="_blank">Attendance</a> <i class="fas fa-external-link-alt"></i>
          </li>
          <li>
            <a href="http://www.data.parliament.uk/dataset/lords-registered-interests" target="_blank">Registered interests</a> <i class="fas fa-external-link-alt"></i>
          </li>
        </ul>
    </div>



    <% include ../partials/footer %>
  </body>
</html>
