@page
@model TheUKTories.FrontendApp.Pages.UK.IndexModel
@{
}

<govuk-breadcrumbs>
    <govuk-breadcrumbs-item asp-page="/Index">Home</govuk-breadcrumbs-item>
    <govuk-breadcrumbs-item asp-page="/UK/Index">UK</govuk-breadcrumbs-item>
</govuk-breadcrumbs>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<ul class="govuk-list">
    <li>
        <a class="govuk-link govuk-heading-m" href="/uk/austerity">Crippling Austerity Measures</a>
    </li>
    <li>
        <a class="govuk-link govuk-heading-m" href="/uk/coronavirus">Tory Response to Coronavirus</a>
    </li>
    <li>
        <a class="govuk-link govuk-heading-m" href="/uk/russia#iscreport">2020 ISC Russia Interference Report</a>
    </li>
</ul>