@page
@model TheUKTories.FrontendApp.Pages.Portal.IndexModel
@{
}

@await Html.PartialAsync("Partials/General/Titles/_Title", "Backend tools")
<span>
    <a class="govuk-button" asp-page="./DbReport">Database Report</a> 
    <a class="govuk-button" asp-page="./Contacts/Index">Contacts</a>
</span>
 
@await Html.PartialAsync("Partials/General/Titles/_Title", "Facist Tactics")
<span>
    <a class="govuk-button" asp-page="./AltRight/Index">List</a>
    <a class="govuk-button" asp-page="./AltRight/Create">Create</a> 
</span>

@await Html.PartialAsync("Partials/General/Titles/_Title", "UK Austerity")
<span>
    <a class="govuk-button" asp-page="./UK/Austerity/Index">List</a>
    <a class="govuk-button" asp-page="./UK/Austerity/Create">Create</a>
</span>

@await Html.PartialAsync("Partials/General/Titles/_Title", "UK Coronavirus")
<span>
    <a class="govuk-button" asp-page="./UK/Covid/Responses/Index">List Responses</a>
    <a class="govuk-button" asp-page="./UK/Covid/Responses/Create">Create Response</a> 
    <br/>
    <a class="govuk-button" asp-page="./UK/Covid/Contracts/Index">List PPE Companies</a>
    <a class="govuk-button" asp-page="./UK/Covid/Contracts/Create">Create PPE Company</a>
        <br/>
    <a class="govuk-button" asp-page="./UK/Covid/Contracts/PPEContracts/Index">List Contracts</a>
    <a class="govuk-button" asp-page="./UK/Covid/Contracts/PPEContracts/Create">Create Contract</a>
</span>

@await Html.PartialAsync("Partials/General/Titles/_Title", "People")
<span>
    <a class="govuk-button" asp-page="./People/Index">List</a>
    <a class="govuk-button" asp-page="./People/Create">Create</a>
</span>