@page
@model TheUKTories.FrontendApp.Pages.Portal.IndexModel
@{
}

@await Html.PartialAsync("Partials/General/Titles/_Title", "Backend tools")

<ul class="govuk-list">
    <li><a asp-page="./DbReport" class="govuk-link govuk-link--no-visited-state">Database Reports</a></li>
    <li><a asp-page="./Contacts/Index" class="govuk-link govuk-link--no-visited-state">All Contacts</a></li>
    <li><a asp-page="./UK/Austerity/Index" class="govuk-link govuk-link--no-visited-state">Austerity > List</a></li>
    <li><a asp-page="./UK/Austerity/Create" class="govuk-link govuk-link--no-visited-state">Austerity > Create</a></li>

    <li><a asp-page="./UK/Covid/Responses/Index" class="govuk-link govuk-link--no-visited-state">Covid Responses > List</a></li>
    <li><a asp-page="./UK/Covid/Responses/Create" class="govuk-link govuk-link--no-visited-state">Covid Responses > Create</a></li><li>
    <li><a asp-page="./UK/Covid/Contracts/Index" class="govuk-link govuk-link--no-visited-state">Covid PPE Companies > List</a></li>
    <li><a asp-page="./UK/Covid/Contracts/Create" class="govuk-link govuk-link--no-visited-state">Covid PPE Companies > Create</a></li>

    <li><a asp-page="./People/Index" class="govuk-link govuk-link--no-visited-state">People > List</a></li>
    <li><a asp-page="./People/Create" class="govuk-link govuk-link--no-visited-state">People > Create</a></li>

    <li><a asp-page="./People/Russia/Index" class="govuk-link govuk-link--no-visited-state">People > Rus Cxn > All</a></li>

    <li><a asp-page="./AltRight/Index" class="govuk-link govuk-link--no-visited-state">Tactics > List</a></li>
    <li><a asp-page="./AltRight/Create" class="govuk-link govuk-link--no-visited-state">Tactics > Create</a></li>
</ul>