@page
@model TheUKTories.FrontendApp.Pages.Admin.UK.Austerity.CreateModel

@{
    ViewData["Title"] = "Create";
}

@await Html.PartialAsync("Partials/_PageTitlePartial", "New Austerity Measure")

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <govuk-select name="Type" asp-for="UKAusterityMeasure.Type">
        <govuk-select-label>Type</govuk-select-label>
        <govuk-select-item value="Other" selected="true">Other</govuk-select-item>
        <govuk-select-item value="Social">Social</govuk-select-item>
        <govuk-select-item value="PublicServices">Public services</govuk-select-item>
        <govuk-select-item value="Defence">Defence</govuk-select-item>
    </govuk-select>

    <span asp-validation-for="UKAusterityMeasure.Type" class="text-danger"/>

    <govuk-textarea rows="5" asp-for="UKAusterityMeasure.Title"/>
    <span asp-validation-for="UKAusterityMeasure.Title" class="text-danger"/>

    <govuk-date-input asp-for="UKAusterityMeasure.Date" />
    <span asp-validation-for="UKAusterityMeasure.Date" class="text-danger"/>

    <govuk-button type="submit" value="Create">Create</govuk-button>
</form>

<div>
    <a class="govuk-button" asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}