<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a name="top"></a>
    <% include ../partials/nav %>

    <div class="container">
        
      <h1><%= title %></h1>
      <hr/>
      <p>
        This is an independently run website that tries to hold the government to account for the illegal or immoral acts some of their members have been, or have accused of being involved in. All information displayed is freely available, the majority of the data is stored in JSON files in a public data directory.
        <ul>
          <li><a href="/data/austerity.json" target="_blank">austerity.json</a></li>
          <li><a href="/data/borisquotes.json" target="_blank">borisquotes.json</a></li>
          <li><a href="/data/covidresponse.json" target="_blank">covidresponse.json</a></li>
          <li><a href="/data/interferencereport.json" target="_blank">interferencereport.json</a></li>
          <li><a href="/data/premiers.json" target="_blank">premiers.json</a></li>
        </ul>
      </p>

      <h2>Cookies</h2>
      <p>
        theuktories.co.uk uses analytics to collect information about the use of our web services to help us better understand how our website is used, as well as performance statistics.
        Analytics collects information specific about your such as IP addresses, device type, OS, referral URLs, country and locale information, and date and time of page requests.
      </p>
      <h3>Google Analytics</h3>
    
      <table class="table">
        <tr>
          <th>Name</th>
          <th>Purpose</th>
          <th>Expires after</th>
        </tr>
        <tr>
          <td>_ga</td>
          <td>Counts visits by checking if you've visited before</td>
          <td>2 Years</td>
        </tr>
        <tr>
          <td>_gid</td>
          <td>Counts visits by checking if you've visited before</td>
          <td>24 Hours</td>
        </tr>
        <tr>
          <td>_gat</td>
          <td>Manage the rate at which page view requests are made</td>
          <td>10 Minutes</td>
        </tr>
      </table>
      <p>
        You can in/opt out of these cookies by clicking the checkbox below
      </p>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="GACheckbox">
        <label class="custom-control-label" for="GACheckbox">Toggle Google Analytics cookies</label>
      </div>

      <br/>

      <h3>Twitter</h3>
      <p>
        theuktories.co.uk and the associated Twitter profile is linked through what's called a 'pixel', a small bit of code to manage cookies for things like analytical purposes and social media outreach.
        You can in/opt out of these cookies by clicking the checkbox below
      </p>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="TwitterCheckbox">
        <label class="custom-control-label" for="TwitterCheckbox">Toggle Twitter cookies</label>
      </div>

    </div>

    <% include ../partials/footer%>
  </body>
</html>
