@page
@model TheUKTories.FrontendApp.Pages.Admin.Austerity.AddSourceModel
@{
}

@await Html.PartialAsync("Partials/_PageTitlePartial", "Add a source to Austerity item")

<form novalidate>
    <govuk-input asp-for="Source" />
    <govuk-input asp-for="Link" />
    <govuk-input asp-for="Date" />

    <govuk-button type="submit">Send</govuk-button>
</form>

