@page
@model TheUKTories.FrontendApp.Pages.Admin.Austerity.ItemModel
@{
}
@* Poverty, Care, Education, Social, Energy, NHS, Security *@

@await Html.PartialAsync("Partials/_PageTitlePartial", @ViewData["PageHeaderMessage"])

<form novalidate>
    <govuk-select name="Type" asp-for="Type">
        <govuk-select-label>Type</govuk-select-label>
        <govuk-select-item value="Poverty">Poverty</govuk-select-item>
        <govuk-select-item value="Care">Care</govuk-select-item>
        <govuk-select-item value="Education">Education</govuk-select-item>
        <govuk-select-item value="Social">Social</govuk-select-item>
        <govuk-select-item value="Energy">Energy</govuk-select-item>
        <govuk-select-item value="NHS">NHS</govuk-select-item>
        <govuk-select-item value="Security">Security</govuk-select-item>
    </govuk-select>
    
    <govuk-textarea asp-for="Content" />

    <govuk-button type="submit">Send</govuk-button>
</form>