@page
@model TheUKTories.FrontendApp.Pages.Admin.Austerity.NewModel

@{
    ViewData["Title"] = "New";
}

@await Html.PartialAsync("Partials/_PageTitlePartial", "New UK Austerity Measure")

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <govuk-input asp-for="UKAusterityMeasure.Title" type="text"/>
    <span asp-validation-for="UKAusterityMeasure.Title" class="text-danger"/>

    <govuk-date-input asp-for="UKAusterityMeasure.Date" />
    <span asp-validation-for="UKAusterityMeasure.Date" class="text-danger"/>

    <govuk-select name="Type" asp-for="UKAusterityMeasure.Type">
        <govuk-select-label>Type</govuk-select-label>
        <govuk-select-item value="">Recently published</govuk-select-item>
        <govuk-select-item value="updated" selected="true">Recently updated</govuk-select-item>
        <govuk-select-item value="views">Most views</govuk-select-item>
        <govuk-select-item value="comments">Most comments</govuk-select-item>
    </govuk-select>

    <govuk-button type="submit" value="Create">Create</govuk-button>
</form>

<div>
    <a class="govuk-button" asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
