@page
@model TheUKTories.Client.Pages.UK.IndexModel
@{
}

<govuk-breadcrumbs>
    <govuk-breadcrumbs-item asp-page="/Index">Home</govuk-breadcrumbs-item>
    <govuk-breadcrumbs-item asp-page="/UK/Index">UK</govuk-breadcrumbs-item>
</govuk-breadcrumbs>

    <ul class="govuk-list">
        <li>
            <a class="govuk-link govuk-heading-m" href="/UK/Coronavirus">Tory Response to Coronavirus</a>
        </li>
        <li>
            <a class="govuk-link govuk-heading-m" href="/UK/Russia#iscreport">2020 ISC Russia Interference Report</a>
        </li>
        <li>
            <a class="govuk-link govuk-heading-m" href="#">People Directory - British</a>
        </li>
    </ul>
