@page
@model TheUKTories.Client.Pages.Contact.ContactsModel
@{
}

@foreach (Contacts contact in Model.Contacts)
{
    <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
                @contact.Name (@contact.EmailAddress)
            </span>
        </summary>
        <div class="govuk-details__text">
            @contact.Details
        </div>
    </details>
}

