<footer class="footer mt-auto py-3 bg-dark fixed-bottom">
<div class="container">
    <span>
    <a href="#top" class="text-light">Go to top</a> | <a href="/about" class="text-light">About</a>
    </span>
    <div class="float-right">
    <a href="https://twitter.com/theuktories?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @theuktories</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>
</footer>