<div class="container">
    <div class="row">
    <div class="col-sm-4">
        <div class="text-center">
        <img src="/images/logo.png" class="rounded" alt="" height="100px" width="100px">
        </div>
    </div>
    <div class="col-sm-8">
        <h1>Conservative Party</h1>
        <h5>The messiest Eton Mess you've ever seen</h5>
    </div>
    </div>
</div>
<hr />