@if (User.Identity.IsAuthenticated)
{
    <govuk-phase-banner>
        <govuk-phase-banner-tag>Hello, @User.Identity.Name!</govuk-phase-banner-tag>
        <a class="govuk-link" href="/Portal">Portal</a> or
        <a class="nav-link text-dark" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">Sign Out</a>
    </govuk-phase-banner>
}
