@page
@model TheUKTories.FrontendApp.Pages.Portal.UK.Covid.Responses.Sources.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CovidGovResponseSource</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CovidGovResponseSource.CovidGovResponseId" class="control-label"></label>
                <select asp-for="CovidGovResponseSource.CovidGovResponseId" class ="form-control" asp-items="ViewBag.CovidGovResponseId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CovidGovResponseSource.Source" class="control-label"></label>
                <input asp-for="CovidGovResponseSource.Source" class="form-control" />
                <span asp-validation-for="CovidGovResponseSource.Source" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CovidGovResponseSource.Link" class="control-label"></label>
                <input asp-for="CovidGovResponseSource.Link" class="form-control" />
                <span asp-validation-for="CovidGovResponseSource.Link" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CovidGovResponseSource.Date" class="control-label"></label>
                <input asp-for="CovidGovResponseSource.Date" class="form-control" />
                <span asp-validation-for="CovidGovResponseSource.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
