@page
@model TheUKTories.FrontendApp.Pages.Portal.UK.Covid.Responses.Sources.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

@await Html.PartialAsync("Partials/_PageTitlePartial", "Delete Covid Response Source")

@await Html.PartialAsync("Partials/Portal/DetailViews/_Source", Model.CovidGovResponseSource)
    
<form method="post">
    <input type="hidden" asp-for="CovidGovResponseSource.CovidGovResponseSourceId" />
    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a asp-page="./Index">Back to List</a>
</form>
