@page
@model TheUKTories.FrontendApp.Pages.Portal.UK.Covid.Responses.Sources.EditModel

@{
    ViewData["Title"] = "Edit";
}

@await Html.PartialAsync("Partials/General/Titles/_Title", "Edit Gov Covid Response Source")

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="CovidGovResponseSource.CovidGovResponseId" />
    <input type="hidden" asp-for="CovidGovResponseSource.CovidGovResponseId" />

    <govuk-input asp-for="CovidGovResponseSource.Source" type="text"/>
    <span asp-validation-for="CovidGovResponseSource.Source" class="text-danger"/>

    <govuk-input asp-for="CovidGovResponseSource.Link" type="text"/>
    <span asp-validation-for="CovidGovResponseSource.Link" class="text-danger"/>   
            
    <govuk-date-input asp-for="CovidGovResponseSource.Date" />
    <span asp-validation-for="CovidGovResponseSource.Date" class="text-danger"/>

    <govuk-button type="submit" value="Create">Create</govuk-button>
</form>

<a asp-page="./Delete" class="govuk-button govuk-button--warning" asp-route-id="@Model.CovidGovResponseSource.CovidGovResponseSourceId">Delete</a>
<a asp-page="../Index" class="govuk-button">Back to Covid Responses</a>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
