@page
@model TheUKTories.FrontendApp.Pages.Portal.UK.Covid.Responses.Sources.IndexModel

@{
    ViewData["Title"] = "Index";
}

@await Html.PartialAsync("Partials/_PageTitlePartial", "UK Covid Response Sources")

@foreach (var item in Model.CovidGovResponseSource)
{
    @await Html.PartialAsync("Partials/Portal/DetailViews/_Source", item)
    <a class="govuk-button" asp-page="./Edit" asp-route-id="@item.CovidGovResponseSourceId">Edit</a>
    <a class="govuk-button" asp-page="./Details" asp-route-id="@item.CovidGovResponseSourceId">Details</a>
    <a class="govuk-button" asp-page="./Delete" asp-route-id="@item.CovidGovResponseSourceId">Delete</a>
}