@page
@model TheUKTories.FrontendApp.Pages.Portal.UK.Covid.Responses.CreateModel

@{
    ViewData["Title"] = "Create";
}

@await Html.PartialAsync("Partials/_PageTitlePartial", "New Covid Response")

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <govuk-textarea rows="5" asp-for="CovidGovResponse.Title"/>
    <span asp-validation-for="CovidGovResponse.Title" class="text-danger"/>

    <govuk-date-input asp-for="CovidGovResponse.Date" />
    <span asp-validation-for="CovidGovResponse.Date" class="text-danger"/>

    <govuk-button type="submit" value="Create">Create</govuk-button>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
