@page
@model TheUKTories.FrontendApp.Pages.Portal.UK.Covid.Responses.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

@await Html.PartialAsync("Partials/General/Titles/_Title", "Are you sure you want to delete this?")

@await Html.PartialAsync("Partials/Portal/DetailViews/_CovidResponse", Model.CovidGovResponse)
    
<form method="post">
    <input type="hidden" asp-for="CovidGovResponse.CovidGovResponseId" />
    <input type="submit" value="Delete" class="govuk-button govuk-button--warning" />
    <a asp-page="./Index" class="govuk-button">Back to List</a>
</form>
