@page
@model TheUKTories.FrontendApp.Pages.Portal.UK.Covid.Responses.EditModel

@{
    ViewData["Title"] = "Edit";
}

@await Html.PartialAsync("Partials/General/Titles/_Title", "Edit existing government covid response")

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="CovidGovResponse.CovidGovResponseId" />

    <govuk-date-input asp-for="CovidGovResponse.Date" />
    <span asp-validation-for="CovidGovResponse.Date" class="text-danger"></span>

    <govuk-textarea rows="5" asp-for="CovidGovResponse.Title" />
    <span asp-validation-for="CovidGovResponse.Title" class="text-danger"></span>
        
    <govuk-button type="submit" value="Save">Save</govuk-button>
</form>

<a asp-page="./Sources/Create" asp-route-id="@Model.CovidGovResponse.CovidGovResponseId" class="govuk-button">Add Source</a>
<a asp-page="./Index" class="govuk-button">Back to List</a>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
