
@model (string, string)
<h1 class="govuk-heading-l">@Model.Item1.ToString()</h1>
<h1 class="govuk-heading-s">@Model.Item2.ToString()</h1>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">