@page
@model TheUKTories.Client.Pages.Portal.AltRight.TacticModel
@{
}

<h1 class="govuk-heading-xl">Add Alt-Right Tactic</h1>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<form method="post">
    <fieldset class="govuk-fieldset">
        <div class="govuk-form-group">
            <label class="govuk-label" asp-for="Tactic.String">
                String
            </label>
            <input class="govuk-input" asp-for="Tactic.String" type="text">
        </div>

        <div class="govuk-form-group">
            <label class="govuk-label" asp-for="Tactic.WikiLink">
                Link
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" asp-for="Tactic.WikiLink" type="text">
        </div>

        <div class="govuk-form-group">
            <label class="govuk-label" asp-for="Tactic.Substring">
                Substring
            </label>
            <textarea class="govuk-textarea" asp-for="Tactic.Substring" rows="5" type="text"></textarea>
        </div>

        <div class="govuk-form-group">
            <input type="submit" href="#" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button" />
        </div>
    </fieldset>
</form>