@page
@model TheUKTories.FrontendApp.Pages.Admin.IndexModel
@{
}

<ul class="govuk-list govuk-list--spaced">
    <li>
        <a class="govuk-link govuk-heading-m" href="/admin/database">Database Tools</a>
    </li>
    <li>
        <a class="govuk-link govuk-heading-m" href="/admin/messages">Contacts</a>
    </li>
    <li>
        <a class="govuk-link govuk-heading-m" href="/admin/altright">AltRight Tactics</a>
    </li>
    <li>
        <a class="govuk-link govuk-heading-m" href="/admin/austerity/item">New Austerity Item</a>
    </li>
</ul>