@page
@model TheUKTories.FrontendApp.Pages.Portal.UK.Covid.Contracts.CreateModel

@{
    ViewData["Title"] = "Create";
}

@await Html.PartialAsync("Partials/General/Titles/_Title", "New Covid Contract Company")

@await Html.PartialAsync("Partials/Portal/Forms/_PPECompany", Model.GovPPEContractCompany)

<div>
    <a class="govuk-button" asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
