
<ul class="navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {
        <div class="govuk-phase-banner">
            <p class="govuk-phase-banner__content">
                <span class="govuk-phase-banner__text">
                    Hello, @User.Identity.Name! 
                    <a class="govuk-link" href="/Portal">Portal</a> or
                    <a class="nav-link text-dark" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">Sign Out</a>
                </span>
            </p>
        </div>
        @*
        <li class="nav-item">
            <span class="navbar-text text-dark">Hello @User.Identity.Name!</span>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">Sign out</a>
        </li>
        *@
    }
    else
    {
        @*
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn">Sign in</a>
        </li>
        *@
    }
</ul>
