@page
@model TheUKTories.Pages.UK.IndexModel
@{
    ViewData["Title"] = "UK ";
    ViewData["SelectedTopItem"] = "UK";
}

<h1 class="govuk-heading-xl">United Kingdom</h1>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<ul class="govuk-list">
    <li><h3 class="govuk-heading-m"><a href="UK/Coronavirus" class="govuk-link govuk-link--no-visited-state">Coronavirus Response</a></h2></li>
    <li><h3 class="govuk-heading-m"><a href="UK/ISCRussiaReport" class="govuk-link govuk-link--no-visited-state">Russia Interference Report</a></h2></li>
</ul>