<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
    <title><%= title %></title>
  </head>
  <body>
    <a name="top"></a>
    <% include partials/nav %>

    <div class="container">
      <% include partials/partyheader %>

      <h2>The Age of Austerity</h2>
      <strong>What exactly is austerity?</strong>
      <p>
        Austerity is an economic strategy on how to spend the countries money. It can include making cuts to public services, like welfare, police forces, public housing and libraries. It could also include methods like increasing taxes, such as the National Insurance contributions, council tax and road tax. Austerity should not be used during a recession, but during the growth period after the fact. Otherwise, austerity can lead to low economic growth, decreased consumer confidence (such as the "double-dip" recession during the coalition), and increased levels of unemployment.
      </p>
      <% include partials/data/austerityview %>
    </div>

    <% include partials/footer %>
  </body>
</html>
