<h2>Boris and his merrie Russians</h2>
<ul class="quicklist">
  <li>
    Russian diplomat <a href="https://en.wikipedia.org/wiki/Sergey_Nalobin" target="_blank">Sergey Nalobin</a> (whose father Nikolai was a former KGB general, and has links to the Russian FSB) was <a href="resources/images/Boris with Sergey Nalobin.png" target="_blank">pictured</a> with Boris (then London mayor), calling him a 'good friend'
    - <small>
      <a href="https://www.theguardian.com/politics/2012/nov/30/kremlin-orders-diplomats-cooperation-conservatives" target="_blank">Guardian</a> 
      | 
      <a href="https://www.businessinsider.com/boris-johnson-photographed-with-russian-spy-who-called-him-friend-2019-11?r=US&IR=T" target="_blank">Business Insider</a>
    </small>
  </li>
  <li>
    Boris (then UK Foreign Secretary) is seen <a href="resources/images/Boris and Joseph Misfud.jpg" target="_blank">pictured</a> with <a href="https://en.wikipedia.org/wiki/Joseph_Mifsud" target="_blank">Joseph Mifsud</a>, whome allegedly has links with high-level Russians and has been missing since April 2019. US federal investigators believe that Mifsud was the "go-between" for Donald Trump and Russia.
    - <small>
      <a href="https://www.businessinsider.com/boris-johnson-photographed-with-russian-spy-who-called-him-friend-2019-11?r=US&IR=T" target="_blank">Business Insider</a>
    </small>
  </li>
  <li>
    Lubov Chernukhin donated £200,000 to Johnson's Conservative Party election campaign in its first week. Mrs. Chernukhin is the wife of Russian oligarch Vladimir Chernukhin. She had previously paid £160,000 for a tennis match with Boris, and £135,000 for a dinner with former Prime Minister Theresa May.
    - <small>
      <a href="https://www.businessinsider.com/boris-johnson-photographed-with-russian-spy-who-called-him-friend-2019-11?r=US&IR=T" target="_blank">Business Insider</a>
    </small>
  </li>
  <li>
    The night after his election win, he was <a href="resources/images/Boris and Alexander Lebedev.jpg" target="_blank">pictured</a> at a party with <a href="https://en.wikipedia.org/wiki/Alexander_Lebedev" target="_blank">Alexander Lebedev</a> (a former KGB officer, and a Russian oligarch) and <a href="resources/images/Boris and Evgeny Lebedev.jpg" target="_blank">pictured</a> with his son <a href="https://en.wikipedia.org/wiki/Evgeny_Lebedev" target="_blank">Evgeny</a>
    - <small>
      <a href="https://www.theguardian.com/politics/2019/dec/22/johnson-visit-to-lebedev-party-after-victory-odd-move-for-peoples-pm" target="_blank">Guardian</a>
    </small>
  </li>
</ul>


<h2>Remarkable Quotes</h2>
<hr/>
<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <blockquote class="blockquote">
      <p class="mb-0">"Just pat her on the bottom and send her on her way."</p>
      <footer class="blockquote-footer">Boris Johnson on <a href="https://en.wikipedia.org/wiki/Kimberly_Quinn" target="_blank">Kimberly Quinn</a>, then publisher for The Spectator in 1995</footer>
    </blockquote>        
  </li>
  <li class="list-group-item">
    <blockquote class="blockquote">
      <p class="mb-0">"The real reason why Blackpool is buzzing with glamorous women is surely that they scent victory. It is not the great smell of Brut that makes John Prescott attractive. It is the whiff of power with the fickleness of their sex, they are following the polls."</p>
      <footer class="blockquote-footer">Boris Johnson on why women are voting Labour in 1996</footer>
    </blockquote>        
  </li>
  <li class="list-group-item">
    <blockquote class="blockquote">
      <p class="mb-0">'Weep, O ye shirt-makers of Jermyn Street, ye Cool Brittania tailors and whatever exists of human finer feeling, In the Ministry of Sound, the tank-topped bum boys blub into their Pils.'</p>
      <footer class="blockquote-footer">Boris Johnson on <a href="https://en.wikipedia.org/wiki/Peter_Mandelson" target="_blank">Peter Mandelson</a>’s resignation in 1998</footer>
    </blockquote>        
  </li>
  <li class="list-group-item">
    <blockquote class="blockquote">
      <p class="mb-0">"Across the country, there are many Tories who wish their party leadership would speak up more strongly against, say, gays in the military, or the cowing of the police by the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/277111/4262.pdf" target="_blank">Macpherson report</a>, or the arrest of General Pinochet, or the impending abolition of the oath and the cap badge of the RUC, or the abolition of the hereditary peers and foxhunting. They are, of course, right"</p>
      <footer class="blockquote-footer">Boris Johnson, Spectator magazine in 2000</footer>
    </blockquote>        
  </li>
  <li class="list-group-item">
    <blockquote class="blockquote">
      <p class="mb-0">"We don’t want our children being taught some rubbish about homosexual marriage being the same as normal marriage"</p>
      <footer class="blockquote-footer">Boris Johnson on <a href="https://en.wikipedia.org/wiki/Section_28" target="_blank">Section 28</a> in Daily Telegraph, 2000</footer>
    </blockquote>        
  </li>
  <li class="list-group-item">
    <blockquote class="blockquote">
      <p class="mb-0">"Labours appalling agenda, encouraging the teachings of homosexuality in schools, and the rest of it."</p>
      <footer class="blockquote-footer">Boris Johnson on the introduction of teaching about homosexuality in schools, in 2000</footer>
    </blockquote>        
  </li>
  <li class="list-group-item">
    <blockquote class="blockquote">
      <p class="mb-0">"If gay marriage was OK - then I saw no reason in principle why a union should not be consecrated between three men, as well as two men; or indeed three men and a dog"</p>
      <footer class="blockquote-footer">Boris Johnson wrote in his book - Friends, Voters, Countrymen, 2001</footer>
    </blockquote>        
  </li>
  <li class="list-group-item">
    <blockquote class="blockquote">
      <p class="mb-0">"If left to their own devices, the natives would rely on nothing but the instant carbohydrate gratification of the plantain"</p>
      <footer class="blockquote-footer">Boris Johnson on Uganda on <a href="https://www.spectator.co.uk/article/the-boris-archive-africa-is-a-mess-but-we-can-t-blame-colonialism" target="_blank">2nd February 2002 - Spectator</a></footer>
    </blockquote>        
  </li>
  <li class="list-group-item">
    <blockquote class="blockquote">
      <p class="mb-0">"The continent may be a blot, but it is not a blot upon our conscience. The problem is not that we were once in charge, but that we are not in charge anymore"</p>
      <footer class="blockquote-footer">Boris Johnson on Africa in <a href="https://www.spectator.co.uk/article/the-boris-archive-africa-is-a-mess-but-we-can-t-blame-colonialism" target="_blank">2nd February 2002 - Spectator</a></footer>
    </blockquote>        
  </li>
  <li class="list-group-item">
    <blockquote class="blockquote">
      <p class="mb-0">"What a relief it must be for Blair to get out of England. It is said that the Queen has come to love the Commonwealth, partly because it supplies her with regular cheering crowds of flag-waving piccaninnies."</p>
      <footer class="blockquote-footer">Boris Johnson in <a href="https://www.telegraph.co.uk/comment/personal-view/3571742/If-Blairs-so-good-at-running-the-Congo-let-him-stay-there.html" target="_blank">2002 - Telegraph</a></footer>
    </blockquote>  
  </li>
  <li class="list-group-item">
    <blockquote class="blockquote">
      <p class="mb-0">"No doubt the AK47s will fall silent and the pangas will stop their hacking of human flesh, and the tribal warriors will all break out in watermelon smiles to see the big white chief touch down in his big white British taxpayer-funded bird"</p>
      <footer class="blockquote-footer">Boris Johnson on Tony Blair's visit to the Congo in 2002</footer>
    </blockquote>        
  </li>
  <li class="list-group-item">
    <blockquote class="blockquote">
      <p class="mb-0">"The minority tyranny of apartheid... followed by the majority tyranny of black rule"</p>
      <footer class="blockquote-footer">Boris Johnson on South Africa in 2003</footer>
    </blockquote>        
  </li>
  <li class="list-group-item">
    <blockquote class="blockquote">
      <p class="mb-0">"Right, let’s go and look at some more piccaninnies"</p>
      <footer class="blockquote-footer">Boris Johnson while in Uganda to Rod Liddle, Swedish Unicef workers and their black driver in <a href="https://www.theguardian.com/media/2003/oct/05/pressandpublishing.politicsphilosophyandsociety" target="_blank">2003</a>.</footer>
    </blockquote>        
  </li>
  
  <li class="list-group-item">
    <blockquote class="blockquote">
      <p class="mb-0">"It is complete balderdash. It is an inverted pyramid of piffle. It is all completely untrue and ludicrous conjecture. I am amazed people can write this drivel."</p>
      <footer class="blockquote-footer">Boris Johnson lying about his affair with Petronella Wyatt in 2004</footer>
    </blockquote>        
  </li>
  <li class="list-group-item">
    <blockquote class="blockquote">
      <p class="mb-0">"Voting Tory will cause your wife to have bigger breasts and increase your chances of owning a BMW M3"</p>
      <footer class="blockquote-footer">Boris Johnson during election campaign for Henley in 2005</footer>
    </blockquote>        
  </li>
  <li class="list-group-item">
    <blockquote class="blockquote">
      <p class="mb-0">"It will take a huge effort of courage and skill to win round the many thousands of British Muslims who are in a similar state of alienation, and to make them see that their faith must be compatible with British values and with loyalty to Britain. That means disposing of the first taboo, and accepting that the problem is Islam. Islam is the problem."</p>
      <footer class="blockquote-footer">Boris Johnson, <a href="https://www.spectator.co.uk/article/just-don-t-call-it-war" target="_blank">The Spectator - Just don't call it war</a>, 16 July 2005</footer>
    </blockquote>        
  </li>
  <li class="list-group-item">
    <blockquote class="blockquote">
      <p class="mb-0">"To any non-Muslim reader of the Koran, Islamophobia - fear of Islam - seems a natural reaction, and, indeed, exactly what that text is intended to provoke. Judged purely on its scripture - to say nothing of what is preached in the mosques - it Is the most viciously sectarian of all religions in the heartlessness towards unbelievers."</p>
      <footer class="blockquote-footer">Boris Johnson, <a href="https://www.spectator.co.uk/article/just-don-t-call-it-war" target="_blank">The Spectator - Just don't call it war</a>, 16 July 2005</footer>
    </blockquote>        
  </li>
  <li class="list-group-item">
    <blockquote class="blockquote">
      <p class="mb-0">"They wipe out cyclists, there are many cyclists killed every year by them"</p>
      <footer class="blockquote-footer">Boris Johnson lying about bendy buses in 2007</footer>
    </blockquote>        
  </li>      
  <li class="list-group-item">
    <blockquote class="blockquote">
      <p class="mb-0">"Hypocrisy is at the heart of our national character"</p>
      <footer class="blockquote-footer">Boris Johnson in 2008</footer>
    </blockquote>        
  </li>
  <li class="list-group-item">
    <blockquote class="blockquote">
      <p class="mb-0">As Mayor during the 2011 London Riots, it took him 3 days to return to the UK from his holiday in Canada</p>
    </blockquote>        
  </li>
  <li class="list-group-item">
    <blockquote class="blockquote">
      <p class="mb-0">Claimed that ‘Boris bikes’ would be ‘at no cost to the taxpayer’. Each cost taxpayers £1,400 - 2013</p>
    </blockquote>        
  </li>
  <li class="list-group-item">
    <blockquote class="blockquote">
      <p class="mb-0">Said President Barack Obama removed a bust of Winston Churchill because of his ‘ancestral dislike of the British empire’, and referred to him as ‘part-Kenyan’. </p>
    </blockquote>        
  </li>
  <li class="list-group-item">
    <blockquote class="blockquote">
      <p class="mb-0">‘Let’s give our NHS the £350 million the EU takes every week’</p>
      <footer class="blockquote-footer">Famous lie on the side of a bus</footer>
    </blockquote>        
  </li>
  <li class="list-group-item">
    <blockquote class="blockquote">
      <p class="mb-0">"It is absolutely ridiculous that people should choose to go around looking like letter boxes."</p>
      <footer class="blockquote-footer">Boris Johnson on Muslim women wearing the burqa</footer>
    </blockquote>        
  </li>
  <li class="list-group-item">
    <blockquote class="blockquote">
      <p class="mb-0">Lied by stating that British Iranian national Nazanin Zaghari-Ratcliffe, jailed in Iran, was there teaching journalists when she was detained. A claim made against her official statement of being there on holiday. A claim supported by her family and employer.</p>
    </blockquote>        
  </li>
  <li class="list-group-item">
    <blockquote class="blockquote">
      <p class="mb-0">Calling children of single mothers, "a generation of ill-raised, ignorant, aggressive, and illegitimate children”</p>
      <footer class="blockquote-footer">Boris Johnson, The Spectator, <a href="http://archive.spectator.co.uk/article/19th-august-1995/6/politics" target="_blank">19th August 1995</a></footer>
    </blockquote>
  </li>
  <li class="list-group-item">
    <blockquote class="blockquote">
      <p class="mb-0">'If he is blue collar, he is likely to be drunk, criminal, aimless, feckless and hopeless, and perhaps claiming to suffer from low self-esteem'</p>
      <footer class="blockquote-footer">Boris Johnson on the working class, The Spectator, <a href="http://archive.spectator.co.uk/article/19th-august-1995/6/politics" target="_blank">19th August 1995</a></footer>
    </blockquote>        
  </li>
  <li class="list-group-item">
    <blockquote class="blockquote">
      <p class="mb-0">"For 10 years we in the Tory Party have become used to Papua New Guinea-style orgies of cannibalism and chief-killing, and so it is with a happy amazement that we watch as the madness engulfs the Labour Party”</p>
    </blockquote>        
  </li>
  <li class="list-group-item">
    <blockquote class="blockquote">
      <p class="mb-0">As mayor of London, he assured the public that policing numbers would go up, which it did. In London figures rose from 31,460 to 32,125 (+/- 719) between March 2008 and March 2016. However, over the same time period, numbers fell across England and Wales by 17,603.</p>
    </blockquote>        
  </li>
  <li class="list-group-item">
    <blockquote class="blockquote">
      <p class="mb-0">Failed to declare £52,723 of his income in December 2018</p>
    </blockquote>        
  </li>
  <li class="list-group-item">
    <blockquote class="blockquote">
      <p class="mb-0">11 months late in registering his 20% share in a property in Somerset</p>
    </blockquote>        
  </li>
  <li class="list-group-item">
    <blockquote class="blockquote">
      <p class="mb-0">Payed to total of £322,000 for 3 illegal water cannons after the 2014 riots</p>
    </blockquote>        
  </li>
  <li class="list-group-item">
    <blockquote class="blockquote">
      <p class="mb-0">"They've got to find men to marry"</p>
      <footer class="blockquote-footer">Boris Johnson on why the female percentile intake for Malaysias university is 68%, in <a href="https://www.independent.co.uk/news/uk/politics/boris-johnson-gaffe-why-do-women-go-to-university-to-find-men-to-marry-8695869.html" target="_blank">2013</a></footer>
    </blockquote>        
  </li>
  <li class="list-group-item">
    <blockquote class="blockquote">
      <p class="mb-0">"They’ve got a brilliant vision to turn Sirte, with the help of the municipality of Sirte, to turn it into the next Dubai. The only thing they've got to do is clear the dead bodies away and then we’ll be there"</p>
      <footer class="blockquote-footer">Boris Johnson on Libya in 2017</footer>
    </blockquote>        
  </li>
</ul>