<div class="container">
<div class="row">
    <div class="col-sm-4">
    <div class="text-center">
        <img src="/images/bojo.jpeg" class="rounded" alt="" height="100px" width="100px">
    </div>
    </div>
    <div class="col-sm-8">
    <h1>Alexander Boris de Pfeffle Johnson</h1>
    <h5>The messiest Eton Mess you've ever seen</h5>
    <p>
        <a href="https://www.theyworkforyou.com/mp/10999/boris_johnson/uxbridge_and_south_ruislip" target="_blank">TheyWorkForYou</a> | 
        <a href="https://en.wikipedia.org/wiki/Boris_Johnson" target="_blank">Wikipedia</a> |
        <a href="https://members.parliament.uk/member/1423/contact" target="_blank">members.parliament.uk</a>
    </p>
    </div>
</div>
</div>
<hr/>