<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a name="top"></a>
    <% include ../partials/nav %>

    <div class="container">
        <% include header %>  

        <% include boris %>
    </div>

    <% include ../partials/footer%>
  </body>
</html>
