@page
@model TheUKTories.FrontendApp.Pages.ContactModel
@{
    ViewData["Title"] = "Contact Us";
}

@await Html.PartialAsync("Partials/General/Titles/_Title", "Contact Form")

<form method="post" novalidate>
    <govuk-input asp-for="Name" type="text"/>
    <govuk-input asp-for="EmailAddress" type="text" />
    <govuk-textarea asp-for="Message" rows="5" />

    <govuk-button type="submit">Send</govuk-button>
</form>
