@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1 class="govuk-heading-xl">The Messiest Eton Mess You've Ever Seen</h1>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<p class="govuk-body">
    This website is dedicated to the latest and greatest acheivements of the most generious governing party of the United Kingdom - the Conservative Party.
</p>