@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1 class="govuk-heading-xl">The Messiest Eton Mess You've Ever Seen</h1>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<p class="govuk-body">
In the year 2010, the British Conservative and Liberal Democrats formed the first coalition government since 1945. The Conservative Party, looking tantalising after the 2008 financial crash, promised a new Britain, with a "bold and reforming" government. The initial years of David Cameron saw a slew of austerity measures to try cut spending, handing the deficit budget and national debit situation to George Osborne, then chancellor of the exchequer.
</p>
<p class="govuk-body">
Offering disastrous blatant lies to the masses, David Cameron’s biggest legacy came in the form of the EU referendum campaign. Offering the referendum, canvassing for Remain, and his subsequent resignation within hours of the Leave result being called. 
</p>
<p class="govuk-body">
The Party had gone through failure after failure, resignation after resignation. Questionable ethics, questionable connections, questionable loyalties to people they swore an oath to represent. Throughout all, they worked to achieve their ultimate real goals:
    <ul class="govuk-list govuk-list--bullet">
        <li>Slash taxes for rich and wealthy</li>
        <li>Impose costs to those least able to bear them</li>
        <li>Harness the power of the media to destroy their opponents with <a href="https://en.wikipedia.org/wiki/Ed_Miliband_bacon_sandwich_photograph">bacon sarnies</a></li>
    </ul>
</p>
<p class="govuk-body">
I know what the supporters of the Conservative Party say – give the party that’s been in control 12 years a chance! "What about Labour that ruined our economy?", "What about Corbyn, who would have destroyed this country?". I'd say they have a leg to stand on. If their party didn't:

    <ul class="govuk-list govuk-list--bullet">
        <li>Create a fake manifesto for their opposition, pouring money into Google Ads</li>
        <li>Doctored BBC footage of their opponent, Jeremy Corbyn in an attempted smear campaign</li>
        <li>Call for a needless referendum with lies and falsehoods</li>
    </ul>
</p>