@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<p class="govuk-body-l">
    Silly, plebs <a href="https://old.reddit.com/r/unitedkingdom/comments/ssbg24/government_launches_no_place_to_hide_propaganda/" target="_blank">don't get privacy</a>
</p>
