@page
@model TheUKTories.FrontendApp.Pages.Portal.People.EditModel

@{
    ViewData["Title"] = "Edit";
}

@await Html.PartialAsync("Partials/General/Titles/_Title", $"Edit {Model.Person.FullName}")

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Person.PersonId" />

    
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="public" type="checkbox" asp-for="@Model.Person.IsProfilePublic">
            <label class="govuk-label govuk-checkboxes__label" for="public">
              Is Profile Public?
            </label>
          </div>
        </div>

      </fieldset>
    </div>
    


    <govuk-select asp-for="Person.Nationality">
        <govuk-select-item value="NoNationality">No Nationality</govuk-select-item>
        <govuk-select-item value="British" selected="true">British</govuk-select-item>
        <govuk-select-item value="American">American</govuk-select-item>
        <govuk-select-item value="Canadian">Canadian</govuk-select-item>
        <govuk-select-item value="French">French</govuk-select-item>
        <govuk-select-item value="German">German</govuk-select-item>
        <govuk-select-item value="Russian">Russian</govuk-select-item>
    </govuk-select>
    <span asp-validation-for="Person.Nationality" class="text-danger" />

    <govuk-input asp-for="Person.FullName" />
    <span asp-validation-for="Person.FullName" class="text-danger" />

    <govuk-date-input asp-for="Person.DateOfBirth" />
    <span asp-validation-for="Person.DateOfBirth" class="text-danger" />

    <govuk-select asp-for="Person.PoliticalParty">
        <govuk-select-item value="NoParty">No Party</govuk-select-item>
        <govuk-select-item value="Crossbench">Crossbench</govuk-select-item>
        <govuk-select-item value="Conservative" selected="true">Conservative</govuk-select-item>
        <govuk-select-item value="Labour">Labour</govuk-select-item>
        <govuk-select-item value="LiberalDemocrat">LiberalDemocrat</govuk-select-item>
        <govuk-select-item value="Royal">Royal</govuk-select-item>
    </govuk-select>
    <span asp-validation-for="Person.PoliticalParty" class="text-danger" />

    <govuk-input asp-for="Person.CurrentTitle" />
    <span asp-validation-for="Person.CurrentTitle" class="text-danger" />

    <govuk-input asp-for="Person.Titles" />
    <span asp-validation-for="Person.CurrentTitle" class="text-danger" />
    
    <govuk-input asp-for="Person.ProfileImageBlobUri" />
    <span asp-validation-for="Person.ProfileImageBlobUri" class="text-danger" />

    <govuk-button type="submit" value="Save">Submit</govuk-button>
</form>

<div>
    <a class="govuk-button" asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
