@page
@model TheUKTories.FrontendApp.Pages.Portal.People.Quotes.CreateModel

@{
    ViewData["Title"] = "Create";
}

@await Html.PartialAsync("Partials/General/Titles/_Title", "New Person Quote")

@*await Html.PartialAsync("Partials/Portal/Forms/_PersonQuote", Model.PersonQuote)*@
<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Person.PersonId" />

    <govuk-textarea asp-for="PersonQuote.Quote" type="text" rows="10"/>
    <span asp-validation-for="PersonQuote.Quote" class="text-danger" />

    <govuk-button type="submit" value="Create">Submit</govuk-button>
</form>

<a asp-page="./Index" class="govuk-button">Back to list</a>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
