@page
@model TheUKTories.FrontendApp.Pages.Portal.People.Quotes.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

@await Html.PartialAsync("Partials/General/Titles/_Title", "Delete person quote")

<p class="govuk-body">@Model.PersonQuote.Quote</p>
    
<form method="post">
    <input type="hidden" asp-for="PersonQuote.PersonQuoteId" class="govuk-button"/>
    <input type="submit" value="Delete" class="govuk-button govuk-button--warning" />
    <a asp-page="./Index" class="govuk-button">Back to List</a>
</form>