@page
@model TheUKTories.FrontendApp.Pages.Portal.People.Quotes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

@await Html.PartialAsync("Partials/General/Titles/_Title", "View person quote")

<p class="govuk-body">@Model.PersonQuote.Quote</p>

<div>
    <a class="govuk-button" asp-page="./Edit" asp-route-id="@Model.PersonQuote?.PersonQuoteId">Edit</a>
    <a class="govuk-button" asp-page="./Sources/Create" asp-route-id="@Model.PersonQuote?.PersonQuoteId">Add Source</a>
    <a class="govuk-button govuk-button--warning" asp-page="./Delete" asp-route-id="@Model.PersonQuote?.PersonQuoteId">Delete</a>
    <a class="govuk-button"asp-page="./Index">Back to List</a>
</div>
