@page
@model TheUKTories.FrontendApp.Pages.Portal.People.Quotes.EditModel

@{
    ViewData["Title"] = "Edit";
}

@await Html.PartialAsync("Partials/General/Titles/_Title", "Edit Person Quote")

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="PersonQuote.PersonQuoteId" />

    <govuk-input asp-for="PersonQuote.Quote" type="text"/>
    <span asp-validation-for="PersonQuote.Quote" class="text-danger" />

    <govuk-button type="submit" value="Create">Submit</govuk-button>
</form>

<div>
    <a class="govuk-button" asp-page="./Sources/Create" asp-route-id="@Model.PersonQuote?.PersonQuoteId">Add Source</a>
    <a asp-page="./Index" class="govuk-button">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
