@page
@model TheUKTories.FrontendApp.Pages.Portal.People.Quotes.IndexModel

@{
    ViewData["Title"] = "Index";
}

@await Html.PartialAsync("Partials/General/Titles/_Title", "View all people quotes")

<a asp-page="Create" class="govuk-button">Create New</a>
<a asp-page="./Sources/Index" class="govuk-button">All Sources</a>

@foreach (var item in Model.PersonQuote)
{
    @await Html.PartialAsync("Partials/Portal/DetailViews/_PersonQuote", item)
}
