@page
@model TheUKTories.Client.Pages.Portal.IndexModel
@{
}

<h1 class="govuk-heading-m">Admin Dashboard</h1>
<hr class="govuk-section-break">

<ul class="govuk-list">
    <li>
        <a class="govuk-link govuk-heading-m" href="/Portal/AltRight/NewTactic">AltRight / New Tactic</a>
    </li>
</ul>