@page
@model TheUKTories.Pages.ContactSentModel
@{
}

@if (Model.Name != null)
{
    <h2 class="govuk-label--xl">@Model.Name</h2>
}
@if (Model.EmailAddress != null)
{
    <h3 class="govuk-label--m">@Model.EmailAddress</h3>
}
@if (Model.Details != null)
{
    <p>
        @Model.Details
    </p>
}

