@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["SelectedTopItem"] = "";
}

<govuk-breadcrumbs>
    <govuk-breadcrumbs-item href="/">Home</govuk-breadcrumbs-item>
    <govuk-breadcrumbs-item href="/privacy">Privacy</govuk-breadcrumbs-item>
</govuk-breadcrumbs>

<h1 class="govuk-heading-l">Privacy Policy</h1>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<strong class="govuk-body-lead">What does personal data mean?</strong>
<p class="govuk-body">Personal data could mean to IP addresses, localisation settings, browser user-agents or things entered into a form by the user, like email addresses, names and phone numbers.</p>

<strong class="govuk-body-lead" id="cookies">What cookies do we use?</strong>
<ul class="govuk-list">
    <li><i>(Required)</i> the consent cookie itself, which tells us which cookies you consent to.</li>
    <li>Google Analytics, which collects anonyamous statistics about users and website interactions.</li>
</ul>

<strong class="govuk-body-lead">What personal information do we collect?</strong>
<p class="govuk-body">None. Apart from if you supply it in a form, like the contact form.</p>

<div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
                Enable / Disable Cookies
            </h1>
        </legend>
        <div class="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
                <input type="checkbox" class="govuk-checkboxes__input" id="allowCookies"/>
                <label class="govuk-label govuk-checkboxes__label" for="allowCookies">
                    Accept Google Analytical Cookies
                </label>
            </div>
        </div>
    </fieldset>
</div>

<script>
    var check = document.getElementById("allowCookies");
    if (document.cookie.split(';').some((item) => item.includes('.AspNet.Consent=yes'))) {
        check.checked = true;
    }

    document.getElementById('allowCookies').onclick = function () {
        if (this.checked) {
            document.cookie = ".AspNet.Consent=yes";
            window['ga-disable-UA-55062061-4'] = false;
        } else {
            document.cookie = ".AspNet.Consent=no";
            window['ga-disable-UA-55062061-4'] = true;
            document.cookie = "_ga=piss off google?";
            document.cookie = "_gid=piss off google?";
            document.cookie = "_gat_gtag_UA_55062061_4=piss off google?"
        }
    };
</script>