@page
@model TheUKTories.Pages.TacticsModel
@using GovUk.Frontend.AspNetCore
@{
    ViewData["Title"] = "The UK Tories - Tactics";
    ViewData["SelectedTopItem"] = "Tactics";
}

<h1 class="govuk-heading-l">Alt-Right Tactics</h1>
<hr class="govuk-section-break--visible" />

<dl class="govuk-summary-list">
    
    @foreach (ARTactics item in Model.Tactics.OrderBy(o => o.String))
    {
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            @item.String
        </dt>
        <dd class="govuk-summary-list__value">
            @item.Substring
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="@item.WikiLink">
                Wiki
            </a>
        </dd>
    </div>
    }


</dl>