<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <% pages.forEach(function(page) { %>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="<%= page.url %>"><%= page.title %></a>
            </li>
        <% }); %>
    </ol>
</div>
